<ActionBar class="action-bar" backgroundColor="black">
    <StackLayout orientation="horizontal" horizontalAlignment="center">
        <!--<button class="btn btn-outline btn-rounded-lg m-2" [isEnabled]="data.memoryController.cur>0" text="Undo Turn" horizontalAlignment="left" (tap)="data.undo();"></button>-->
        <image src="~/Assets/Wide310x150Logo.scale-200.png" height="60" stretch="aspectFit" horizontalAlignment="center"></image>
        <!--<button class="btn btn-outline btn-rounded-lg m-2" [isEnabled]="data.memoryController.cur<data.memoryController.top" text="Redo Turn" horizontalAlignment="right" (tap)="data.redo();"></button>-->
    </StackLayout>
</ActionBar>
    
<GridLayout class="page sherlockwallBG">

    <!-- This is the PLAY button-->
    <FAB *ngIf="gameViewMode === 1" (tap)="playTapped()" icon="~/Assets/play_google_icon.png" rippleColor="#f1f1f1" class="fab-button"></FAB>

    <!-- This is the Main GamePlay Card Panel -->
    <TabView *ngIf="gameViewMode === 1" [(ngModel)]="data.selectedTab" selectedColor="#FF0000">
        <StackLayout *tabItem="{title: 'Entity View'}">
            <label class="card large permanentmarker" text="Status of all Cards"></label>
            <ListView class="list-group" [items]="data.game.cards" (itemTap)="onEntityListTap($event)" verticalAlignment="top" horizontalAlignment="center">
                <ng-template let-card="item">
                    <GridLayout class="list-group-item" rows="70, auto, *" columns="70, auto,*">
                        <Image row="0" col="0" [src]="card.imgTokenPath" height="80" class="img-circle" (tap)="imgTapped(card.type, card.ind);" rowSpan="3"></Image>
                        <Label row="0" col="1" [text]="card.name" class="list-group-item-heading m-l-20 permanentmarker" colSpan="2"></Label>
                        <Label row="1" col="1" color="green" text="Owner: " class="list-group-item-heading m-l-20 opensans"></Label>
                        <Label row="1" col="2" color="green" class="m-l-5  opensans" [text]="card.owner===undefined? '' : card.owner.name"></Label>
                        <Label row="2" col="1" color="red" text="Not Owners: " class="list-group-item-heading m-l-20  opensans"></Label>
                        <StackLayout orientation="horizontal" row="2" col="2">
                            <label color="red" *ngFor="let notOwner of card.notOwners" class="m-l-5  opensans" [text]="notOwner.name"></label>
                        </StackLayout>
                    </GridLayout>
                </ng-template>
            </ListView>
        </StackLayout>
        <StackLayout *tabItem="{title: 'Suspect View'}">
            <label class="card large permanentmarker" text="Status of Suspected Cards"></label>
            <ListView class="list-group" [items]="data.game.suspects" verticalAlignment="top" horizontalAlignment="center">
                <ng-template let-card="item">
                    <GridLayout class="list-group-item" rows="70, *" columns="70, auto,*">
                        <Image row="0" col="0" [src]="card.imgTokenPath" height="80" class="img-circle" (tap)="imgTapped(card.type, card.ind);" rowSpan="2"></Image>
                        <Label row="0" col="1" [text]="card.name" class="list-group-item-heading m-l-20 permanentmarker" colSpan="2"></Label>
                        <Label row="1" col="1" color="red" text="Not Owners: " class="list-group-item-heading m-l-20  opensans"></Label>
                        <StackLayout orientation="horizontal" row="1" col="2">
                            <label color="red" *ngFor="let notOwner of card.notOwners" class="m-l-5  opensans" [text]="notOwner.name"></label>
                        </StackLayout>
                    </GridLayout>
                </ng-template>
            </ListView>
        </StackLayout>
        <StackLayout *tabItem="{title: 'Detective View'}">
            <label class="card large permanentmarker" text="Status of Detectives"></label>
            <ListView class="list-group" [items]="data.game.players">
                <ng-template let-player="item">
                    <StackLayout class="m-b-20">
                        <label class="card opensans" [text]="player===data.game.user? 'Your Cards' :'Cards with Detective  ' + player.name"></label>
                        <GridLayout rows="auto, auto, auto, auto" columns="*, *, *, *">
                            <Image *ngFor="let card of player.cards; let i = index" [row]="i/4" [col]="i%4" [src]="card.imgTokenPath" height="100" class="img-circle m-t-4 m-b-4 m-l-2 m-r-2" (tap)="imgTapped(card.type, card.ind);"></Image>
                        </GridLayout>
                    </StackLayout>
                </ng-template>
            </ListView>
        </StackLayout>
    </TabView>


    <!-- This panel plays the game for a turn -->
    <StackLayout *ngIf="gameViewMode === 2">
        <label [text]="data.game.players[data.game.play.turnNo] === data.game.user? 'Your turn' : data.game.players[data.game.play.turnNo].name + '\'s turn'" class="card large permanentmarker"></label>
        <Button *ngIf="gameViewController.stepNo === 0 || gameViewController.stepNo === 3" backgroundColor="green" [isEnabled]="gameViewController.isProceedButt" class="btn btn-active btn-primary" text="proceed" (tap)="onProceedClick()"></Button>
        <Button *ngIf="gameViewController.stepNo === 0" class="btn btn-active btn-primary" backgroundColor="red" text="skip turn" (tap)="endTurn()"></Button>

        <!-- To choose the list of cards that were suspected -->
        <StackLayout *ngIf="gameViewController.stepNo === 0">
            <label text="What Cards were Suspected?" class="card opensans m-t-10"></label>
            <ListView class="list-group" [items]="data.game.cards" (itemTap)="onCardListTap($event)" verticalAlignment="top" horizontalAlignment="center">
                <ng-template let-card="item">
                    <GridLayout class="list-group-item" rows="auto, *" columns="80, *">
                        <Image row="0" col="0" [src]="card.imgTokenPath" height="100" class="img-circle" (tap)="imgTapped(card.type, card.ind);"  rowSpan="2"></Image>
                        <Label row="0" col="1" [text]="card.name" class="list-group-item-heading m-l-20 permanentmarker"></Label>
                        <Label row="1" col="1" *ngIf="isAlreadyThere(card);" text="Selected" color="green" class="list-group-item-text m-l-30 opensans"></Label>
                    </GridLayout>
                </ng-template>
            </ListView>
        </StackLayout>

        <!-- To get feedback on the proving process -->

        <!-- Somebody proves to someone -->
        <StackLayout *ngIf="gameViewController.stepNo === 1">
            <label [text]="data.game.players[gameViewController.playerToprove].name + ' must prove'" class="card permanentmarker m-t-10"></label>
            <label [text]="'Did ' + data.game.players[gameViewController.playerToprove].name + ' prove?'" class="card opensans m-t-10"></label>
            <StackLayout orientation="horizontal">
                <button text="YES" backgroundColor="green" class="btn btn-active btn-primary btn-rounded-lg" (tap)="proved();"></button>
                <button text="NO" backgroundColor="red" class="btn btn-active btn-primary btn-rounded-lg" (tap)="notproved();"></button>
            </StackLayout>
        </StackLayout>

        <!--User must prove to someone -->
        <StackLayout *ngIf="gameViewController.stepNo === 2">
            <label text="You Must prove" class="card permanentmarker m-t-10"></label>
            <label [text]="gameViewController.userproveText" class="card opensans m-t-10"></label>
            <GridLayout columns="auto, auto, auto" rows="auto, auto">
                <StackLayout [col]="i%3" row="0" *ngFor="let card of data.game.user.cards; let i = index">
                    <Image *ngIf="isAlreadyThere(card)" [src]="card.imgTokenPath" height="150" class="img-circle m-l-5 m-t-5" (tap)="imgTapped(card.type, card.ind);"  rowSpan="2"></Image>
                </StackLayout>
                <button col="0" row="1" text="OKAY" class="btn btn-active btn-primary btn-rounded-lg" (tap)="userDone();"></button>
            </GridLayout>
        </StackLayout>

        <!--User is shown a card-->
        <StackLayout *ngIf="gameViewController.stepNo === 3">
            <label text="What card was shown?" class="card permanentmarker m-t-10"></label>
            <ListView class="list-group" [items]="gameViewController.suspectedCards" (itemTap)="onCardListTap($event)" verticalAlignment="top" horizontalAlignment="center">
                <ng-template let-card="item">
                    <GridLayout class="list-group-item" rows="auto, *" columns="80, *">
                        <Image row="0" col="0" [src]="card.imgTokenPath" height="100" class="img-circle" (tap)="imgTapped(card.type, card.ind);"  rowSpan="2"></Image>
                        <Label row="0" col="1" [text]="card.name" class="list-group-item-heading m-l-20 permanentmarker"></Label>
                        <Label row="1" col="1" *ngIf="gameViewController.cardShownToUser === undefined? false : card.name === gameViewController.cardShownToUser.name" text="Selected" color="green" class="list-group-item-text m-l-30 opensans"></Label>
                    </GridLayout>
                </ng-template>
            </ListView>
        </StackLayout>
    </StackLayout>

    <!-- Game is Over! Cluedo Helper Did it! -->
    <StackLayout *ngIf="gameViewMode === 3">
        <label text="Here is Warrant for Arrest!" class="card large permanentmarker"></label>
        <label text="The Game is over" class="card permanentmarker"></label>
        <ListView class="list-group" [items]="data.game.suspects" verticalAlignment="top" horizontalAlignment="center">
            <ng-template let-card="item">
                <GridLayout class="list-group-item card" rows="100, *" columns="100, *" class="m-10">
                    <Image row="0" col="0" [src]="card.imgTokenPath" height="100" class="img-circle" (tap)="imgTapped(card.type, card.ind);" rowSpan="2"></Image>
                    <Label row="0" col="1" [text]="card.name" class="list-group-item-heading m-l-20 permanentmarker" colSpan="2"></Label>
                </GridLayout>
            </ng-template>
        </ListView>
        <label text="Developer - Hari.R" class="card large permanentmarker"></label>
    </StackLayout>

    <!--This mode is for the manual control of the user-->
    <StackLayout *ngIf="gameViewMode === 4">
        <label [text]="'Master Edit ' + markCard.name" class="card large permanentmarker"></label>
        <label text="Change if you're confident..." class="card permanentmarker"></label>
        <label text="This may lead to incorrect unexpected behavior" class="card permanentmarker"></label>

        <StackLayout *ngIf="manualEditMode === 0" class="m-t-10">
            <button color="red" text="Edit Owner" (tap)="manualEditModeChange(1)"></button>
            <button color="red" text="Edit Not Owner" (tap)="manualEditModeChange(2)"></button>
        </StackLayout>

        <StackLayout *ngIf="manualEditMode === 1" class="m-t-10">
            <label text="Choose the Owner" class="card opensans"></label>
            <ListView class="list-group m-t-5" [items]="data.game.players" (itemTap)="onManualEditOwner($event)" verticalAlignment="top" horizontalAlignment="center">
                <ng-template let-player="item">
                    <GridLayout class="list-group-item" rows="auto, auto">
                        <Label row="0" [text]="player.name" class="list-group-item-heading m-l-20 permanentmarker"></Label>
                        <Label row="1" *ngIf="markPlayer === undefined? false : markPlayer === player" text="Selected" color="green" class="list-group-item-text m-l-30 opensans"></Label>
                    </GridLayout>
                </ng-template>
            </ListView>
        </StackLayout>
        <StackLayout *ngIf="manualEditMode === 2" class="m-t-10">
            <label text="Choose Not Owners" class="card opensans"></label>
            <ListView class="list-group m-t-5" [items]="data.game.players" (itemTap)="onManualEditNotOwner($event)" verticalAlignment="top" horizontalAlignment="center">
                <ng-template let-player="item">
                    <GridLayout class="list-group-item" rows="auto, auto">
                        <Label row="0" [text]="player.name" class="list-group-item-heading m-l-20 permanentmarker"></Label>
                        <Label row="1" *ngIf="isManualNotOwnerSelected(player);" text="Selected" color="green" class="list-group-item-text m-l-30 opensans"></Label>
                    </GridLayout>
                </ng-template>
            </ListView>
        </StackLayout>

        <Button backgroundColor="red" class="btn btn-active btn-primary m-t-20" text="done" (tap)="onManualEditFinished();"></Button>
    </StackLayout>

</GridLayout>