<ActionBar class="action-bar" backgroundColor="black">
    <StackLayout orientation="horizontal" height="60" horizontalAlignment="center">
            <button class="btn btn-outline btn-rounded-lg" text="Back" horizontalAlignment="left" (tap)="goBack();"></button>
        <image src="~/Assets/Wide310x150Logo.scale-200.png" height="60" stretch="aspectFit" horizontalAlignment="center"></image>
    </StackLayout>
</ActionBar>
    
    <ScrollView class="page sherlockwallBG">
        <StackLayout>
            <Label class="permanentmarker card m-5 large" textWrap="true" text="Pre Requisite"></Label>
            <Label class="opensans m-t-10 m-l-5 m-r-5 card" textWrap="true" text="You must know how to play Cluedo"></Label>
            <Label class="permanentmarker card m-5 large" textWrap="true" text="What this app will NOT do"></Label>
            <Label class="opensans m-t-10 m-l-5 m-r-5 card" textWrap="true" text="Replace the game board"></Label>
            <Label class="permanentmarker card m-5 large" textWrap="true" text="What this app WILL do"></Label>
            <Label class="opensans m-t-10 m-l-5 m-r-5 card" textWrap="true" text="1. Take input of each and every aspect of the game"></Label>
            <Label class="opensans m-t-10 m-l-5 m-r-5 card" textWrap="true" text="2. Take care of the MARKINGS and DEDUCTIONS that you need to do"></Label>
            <Label class="permanentmarker card m-5 large" textWrap="true" text="Warning"></Label>
            <Label class="opensans m-t-10 m-l-5 m-r-5 card" textWrap="true" text="This app has no UNDO feature"></Label>
            <Label class="opensans m-t-10 m-l-5 m-r-5 card" textWrap="true" text="Therefore make sure that every button press is accounted for"></Label>
            <Label class="permanentmarker card m-5 large" textWrap="true" text="What you get"></Label>
            <Label class="opensans m-t-10 m-l-5 m-r-5 card" textWrap="true" text="Three different panels that show different aspects of the deduction at all times"></Label>
            <Label class="Roboto card m-t-20 m-l-5 m-r-5" textWrap="true" text="Additionally for Pro users, this app provides with the option to manually override the app and mark the cards"></Label>
            <Label class="permanentmarker card m-5 large" textWrap="true" text="About"></Label>
            <Label class="opensans m-t-10 m-l-5 m-r-5 card" textWrap="true" text="This app made with Angular is native and available in both Android (by Google), and IOS (by Apple). Support to Universal Windows (by Microsoft) is in Works"></Label>
            <Label class="permanentmarker large card m-t-30 m-l-5 m-r-5" textWrap="true" text="Developer is Hari.R, India"></Label>
        </StackLayout>
    </ScrollView>